# Configurar el nivel de log global
.level=INFO

# Configurar los handlers que se usarán
handlers=java.util.logging.ConsoleHandler

# Configurar el ConsoleHandler
java.util.logging.ConsoleHandler.level=INFO
java.util.logging.ConsoleHandler.formatter=io.github.luchersol.common.logger.CustomFormatter

# Configuraciones del CustomFormatter
formatter.show_logger_name=true
formatter.show_instance=false
